.hidden {
  display: none !important; /* my code below */
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem; /* my code below */
}

.row {
  display: flex;
  flex-wrap: wrap; /* my code below */
}

.column-full,
.column-half {
  width: 100%; /* my code below */
  display: flex;
  flex-direction: column;
}

.url-image,
.entry-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.label {
  margin-top: 25px;
  margin-bottom: 10px;
}

.column-full.button-container {
  margin-top: 25px;
  display: flex;
  align-items: flex-end;
}

.save-button,
.new-entry-button {
  width: 60px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 30px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  margin-top: 0;
}

li {
  margin-bottom: 40px;
}

.new-entry-button {
  margin-top: 30px;
}

.entries-list {
  padding-left: 0;
}

.entry-image-container {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px; /* my code below */
  }

  .code-journal-header {
    padding-left: 13px;
  }

  main {
    height: 100vh;
  }

  .row {
    display: flex;
  }

  .label {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .url-image-container,
  #entry-form-title {
    margin-bottom: 25px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem; /* my code below */
  }

  .column-half {
    width: 50%; /* my code below */
  }
}
