* {
  box-sizing: border-box;
}

.hidden {
  display: none !important; /* my code below */
}

body {
  position: relative;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem; /* my code below */
}

header {
  height: 60px;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-left: 30px;
}

.modal-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  background-color: white;
  width: 470px;
  height: 170px;
  text-align: center;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-button-container {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-top: 30px;
}

.cancel-button,
.confirm-button {
  border-style: none;
  padding: 9px 15px;
}

.row {
  display: flex;
  flex-wrap: wrap; /* my code below */
}

.column-full,
.column-half {
  width: 100%; /* my code below */
  display: flex;
  flex-direction: column;
}

.url-image,
.entry-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.label {
  margin-top: 25px;
  margin-bottom: 10px;
}

.column-full.button-container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.invisible {
  visibility: hidden;
}

.delete-button {
  border-style: none;
  width: 80px;
  height: 0.9rem;
  padding: 0;
  margin-bottom: 30px;
}

.save-button,
.new-entry-button {
  width: 60px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 30px;
}

.new-entry-button {
  text-align: center;
  margin-top: 30px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  margin-top: 0;
}

li {
  margin-bottom: 40px;
}

.entries-list {
  padding-left: 0;
}

.entry-image-container {
  margin-bottom: 10px;
}

.entry-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.journal-entry-title {
  max-width: 475px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px; /* my code below */
  }

  .code-journal-header,
  .entries-heading {
    padding-left: 13px;
  }

  .row {
    display: flex;
  }

  .label {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .url-image-container,
  #entry-form-title {
    margin-bottom: 25px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem; /* my code below */
  }

  .column-half {
    width: 50%; /* my code below */
  }

  .new-entry-button {
    margin-right: 11px;
  }

  .journal-entry-title {
    max-width: 330px;
  }
}
