body {
  background-color: #4a2373;
  font-family: 'Open Sans', sans-serif;
}

header {
  color: white;
}

.journal-header {
  font-weight: 400;
  font-size: 1rem;
}

main {
  background-color: #eceaec;
}

label {
  font-weight: 600;
  font-size: 0.9rem;
}

#entry-form-title,
#entry-form-photo-url,
#entry-form-note {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  padding-top: 5px;
  padding-bottom: 5px;
}
