body {
  background-color: #eceaec;
  font-family: 'Open Sans', sans-serif;
}

header {
  color: white;
  background-color: #4a2373;
}

.modal-container {
  background: rgba(0, 0, 0, 0.7);
}

.journal-header {
  font-weight: 400;
  font-size: 1rem;
}

label {
  font-weight: 600;
  font-size: 0.9rem;
}

input,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid lightgray;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline-color: #4a2373;
}

.entries-anchor,
.new-entry-button,
.delete-button {
  font-size: 0.9rem;
}

.entries-anchor,
.new-entry-button {
  color: white;
  text-decoration: none;
}

.delete-button {
  background-color: #eceaec;
  color: rgb(224, 111, 111);
  text-decoration: underline;
}

.save-button,
.new-entry-button {
  color: white;
  background-color: #4a2373;
  border-style: none;
  border-radius: 3px;
}

.fas.fa-pencil-alt {
  color: #4a2373;
  font-size: 1.5rem;
}

.save-button:hover,
.new-entry-button:hover,
.entries-anchor:hover,
.fas.fa-pencil-alt:hover,
.delete-button:hover {
  cursor: pointer;
}

.entries-list {
  list-style: none;
}
